@{
    ViewData["Title"] = "تماس با ما";
}

<h1 class="text-center">تماس با ما</h1>
<hr class="text-warning" />

<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="card border-warning mb-3 custom-hover-card" style="max-width: 18rem;">
            <div class="card-header fw-bold">Alipishi</div>
            <div class="card-body">
                <h5 class="card-title">اطلاعات تماس</h5>
                <p class="card-text">
                    <b style="color:darkblue">Telegram</b> : ali_pro_koraen_gamer <br />
                    <b style="color:deeppink">Instagram</b> : ali.r_pishi <br />
                    <b style="color:black">Phone</b> : +989213781674
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="card border-warning mb-3 custom-hover-card" style="max-width: 18rem;">
            <div class="card-header fw-bold">علیرضا غریبی</div>
            <div class="card-body">
                <h5 class="card-title">اطلاعات تماس</h5>
                <p class="card-text">
                    <b style="color:darkblue">Telegram</b> : ali_pro_koraen_gamer <br />
                    <b style="color:deeppink">Instagram</b> : ali.r_pishi <br />
                    <b style="color:black">Phone</b> : +989338474586
                </p>
            </div>
        </div>
    </div>
</div>


