
@{
    ViewData["Title"] = "OnlinePayment";
}

<h1 class="text-center">پرداخت موفق</h1>
<hr class="text-success" />

<div class="alert alert-success" role="alert">
    از خرید شما سپاس گذاریم.
    کد پیگیری خرید شما:@ViewBag.code
</div>

